.section-image{
    display: flex;
    flex-direction: row;
    align-content: flex-start !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    margin-top: 20px;
    gap: 10px;
}