.section-image{
    display: flex;
    flex-direction: row;
    align-content: flex-start !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    gap: 10px;
}