.App {
  text-align: center;
}

.avatar-img{
  border-radius: 5px;
  max-width: 150px;
  min-width: 100px;
}

.blur-bg{
  backdrop-filter: blur(12px);
}

.woow{
  position:absolute !important;
  top: 0px;
  z-index: 1000;
}